
body{
    background:#E1E7FA;
    font-family: 'Roboto', sans-serif;
    height:200vh;
}
.announce{
    display:flex;
    justify-content: flex-end;
    width:100vw;
    height:8vh;
    background-image:url(https://s3.amazonaws.com/www-inside-design/static/img/butterbar-dbpodcast.png);
    margin:-7px -7px 0 -7px;
    align-items:center;
    font-weight: bold;
}
.announce i {
    color:ivory;
    margin:0 30px 0 600px;
}
.announce a{
    font-size:0.8em;
}
header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background: white;
    margin:0 15px 0 15px;;
    align-items:center;
    padding: 0 25px 0 25px;
    height:100px;
    font-weight: bold;
    
}
.logo{
    width:100px;
    border-radius: 50%;

}
.logo img{
    height:60px;
    position:fixed;
    /* background:white;
    border-radius: 50%; */
    margin-bottom:50px;
}
.logo-title{
    display: flex;
    margin-left:130px;
}
.nav{
    display:flex;
    list-style:none;
}
li a{
    padding-left:2vw;
    color:black;
    text-decoration: none;
}
li a:hover{
    color:grey;
}
button{
    background:blue;
    border-radius:25px;
    padding:12px;
    color:white;
}
.hero button{
    width:200px;
    padding:20px 0 20px 0;
}
.other-menu{
    display:flex;
    align-items:center;
    
}
.white-bg{
    background:white;
    margin:0 15px 0 15px;
    height:79vh;
}
.hero{
    display:flex;
    margin-left:100px;
    padding-left:150px;
    height:65vh;
    flex-direction:column;
    justify-content: center;
    background:#E1E7FA;
}
h1{
    font-size:70px;
}
h3{
    font-weight: lighter;
}
.social i{
    display:flex;
    justify-content: column;
    position:fixed;
    right:0;
    bottom:0;
    border: 1px solid black;
    padding:8px;
    border-radius:50%;
    m
    
}
.ast-photo{
    display:flex;
    justify-content: flex-end;
}
