
body{
    background:rgb(223, 207, 233)
}
.announce{
    display:flex;
    justify-content: center;
    width:100%;
    background:lightpink;
    margin:0;
}
.announce i {
    color:ivory;
}
.nav{
    display:flex;
    list-style:none;
}
button{
    background:blue;
    border-radius:15px;
    padding:6px;
    color:white;
}
header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background: white;
    margin-left:50px;
    align-items:center;
    padding: 0 25px 0 25px;
    height:100px;
}